{% extends 'landing/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <h1>Objective, Mission, and Values</h1>
                <p class="paragraph-text">
                AP Investment Group is a privatly held company located in Atlanta, GA. 

                Expertise include:
                <ul class="paragraph-text">
                    <li>Government Contracts</li>
                    <li>Residential & Commerical Development </li>
                    <li>Construction (residential & commercial)</li>
                    <li>Distressed Real Estate Aquisitions</li>
                    <li>Small Business Acquisitions</li>
                </ul>

                In addition, we provide excellent leadership capital to all of our projects to make sure each
                 transaction remains in the best interests of our investors. 
                </p>
                <br>
                <br>
                <h3>Executive Team: </h3>
                    <ul>
                        <li>Matib Ahmad (Cheif Executive Officer)</li>
                        <li>Nazif Ahmad (Cheif Investment Officer)</li>
                        <li>Taha Addow (Cheif Operating Officer)</li>
                        <li>Kiran Gillani (Cheif Marketing Officer)</li>
                    </ul>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}