{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'landing/main.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>AP Investment Group</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style=" background-image: linear-gradient(to right, rgb(14, 122, 185), rgb(14, 188, 185), rgb(14, 122, 185));">
        {% load static %}
        <a class="navbar-brand ml-5" href="/"> <img src="{% static 'landing\AP_Investment_Group_Logo.jpg' %}"  class="mr-5"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="#why_join">Why AP Investment Group?</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-section">
        <div class="container">
            <div class="row justify-content-center">
                {% if messages %}
                    {% for message in messages %}
                        <div class="col-md-6">
                            <div class="alert alert-{{ message.tags }} text-center">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer>
          <div class="container">
            <div class="row justify-content-center">
              <div class="py-5">
                  <a class="col fb-ic" target="_blank">
                    <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <a class="col tw-ic" target="_blank">
                    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <a class="col li-ic" target="_blank">
                    <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <a href="https://www.instagram.com/afsahinstitute/?hl=en" target="_blank" class="col ins-ic">
                    <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
              </div>
            </div>
          </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>