{% extends 'landing/base.html' %}
{% block content %}
<div class="points mb-3">
    <section class="hero-content">
        <div class="hero-title">
            <h1>Investing the Right Way</h1>
            <h6>Rental Properties, Residentail Redevelopment, Commercial Real Estate Investement</h6>
        </div>
    </section>

<section class="selling-points container clearfix mb-3">
     <div class="point column third">
          <a id="why_join"></a>
          <svg class="bi bi-question" width="75" height="75" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
          </svg>
         <h5 class="point-title">Why Join?</h5>
         <p class="point-description">
            Improve your Arabic skills! Be able to carry a full out conversation with others and feel confident about your ability to speak Arabic. Read any classical or modern work of Arabic with accuracy and fluency. We are here to provide you with all the concepts and practical applications of raising your Arabic skills to the next level.
         </p>
     </div>
     <div class="point column third">
         <svg class="bi bi-list-check" width="75" height="75" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7 13.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zM5.854 4.146a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 11.708-.708L4 5.293l1.146-1.147a.5.5 0 01.708 0zm0 4a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 11.708-.708L4 9.293l1.146-1.147a.5.5 0 01.708 0zm0 4a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 01.708-.708l.146.147 1.146-1.147a.5.5 0 01.708 0z" clip-rule="evenodd"></path>
         </svg>
         <h5 class="point-title">What We Offer</h5>
         <p class="point-description">
             <ul class="list-alignment check-mark">
                <li><span class="font-weight-bold">&#10003;</span>   Conversation and Dialogue</li>
                <li><span class="font-weight-bold">&#10003;</span>   Learning Arabic Grammar and Rhetoric in depth</li>
                <li><span class="font-weight-bold">&#10003;</span>   The Syntactical Analysis of the Quran</li>
                <li><span class="font-weight-bold">&#10003;</span>   Composition, writing, and language arts</li>
                <li><span class="font-weight-bold">&#10003;</span>   Guided Readings of various pieces of literature, novels, poems, and short stories (both Islamic and cultural)</li>
            </ul>
         </p>
     </div>
     <div class="point column third">
         <svg class="bi bi-people-fill" width="75" height="75" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="M9 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H9zm4-6a3 3 0 100-6 3 3 0 000 6zm-5.784 6A2.238 2.238 0 017 15c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 007 11c-4 0-5 3-5 4s1 1 1 1h4.216zM6.5 10a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" clip-rule="evenodd"></path>
         </svg>
         <h5 class="point-title">What Makes Us Different?</h5>
         <p class="point-description">We specialize in taking you from level 1 (someone who only knows the Arabic alphabet) all the way to being able to confidently read, speak, compose, and understand Arabic at an advanced level. Our teachers, who are non-native as well, have been through this rigorous journey from novice to professional. They understand the hurdles the novice student has to go through, and they can coach you through the obstacles you will face.</p>
     </div>
 </section>
</div>

{% endblock %}

